.container iframe {
    width: 800px ;
    height: 400px ;
    margin : auto ;
}

@media only screen and (max-width : 800px ){
    .container iframe {
        width: 550px ;
        height: 350px ;
        margin : auto ;
    }
}


@media only screen and (max-width : 600px ){
    .container .result {
        width: 330px ;
    }

    .btn-mobile {
        margin-left: -30px ;
    }

    .container iframe {
        width: 300px ;
        height: 200px ;
        margin-left: -30px ;
    }
}